.list {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: normal;
  color: $COLOR--gray-60;
  text-transform: capitalize;

  &.active {
    color: $COLOR--windows-blue;
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.link-value {
  font-size: 13px;
  color: $COLOR--black-2;
}

.link-key {
  font-size: 11px;
}

.icon {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 8px;
  transform: rotate(45deg);
  border: 1px solid $COLOR--gray-91;
  border-left: none;
  border-bottom: none;
}
